<%- include('./index') %>

<div class="d-flex">
    <% books.forEach(function(book){ %>
        <div class="card" style="width: 18rem;margin:10px">
            <!-- <img src="..." class="card-img-top" alt="..."> -->
            <div class="card-body">
            <form action="/books/delete/<%- book.id %>" method="get" style="margin-left: 90%;">
                <button type="submit" class="btn-close" aria-label="Close"></button>
            </form>
              <h5 class="card-title"><%- book.title %></h5>
              <h6 class="card-subtitle mb-2 text-muted"><%- book.type %></h6>
              <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
            </div>
          </div>
    <% }); %>
</div>